/* ########### FONTS ############ */
@font-face {
  font-family: "noland-blod";
  src: url("../assets/fonts/noland-blod.ttf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #EDE7D9;
  font-family: Arial, Helvetica, sans-serif;
}

/* ########### HEADER ########### */
header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #4B4237;
}
header .img img {
  height: 75px;
}
header .text {
  height: fit-content;
  width: fit-content;
}
header .text h1 {
  font-family: "noland-blod";
  font-size: 46px;
  text-align: center;
  color: #D5A021;
}
header .text p {
  font-size: 18px;
  text-align: center;
  color: #A49694;
}
header .box {
  height: 75px;
  width: 75px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ############ MAIN ############ */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION TO DO LIST ### */
.to-do-list {
  margin-top: 60px;
  width: 100%;
}
.to-do-list .tdl-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to-do-list .tdl-content .tdl-input {
  display: flex;
  gap: 25px;
}
.to-do-list .tdl-content .tdl-input .input-container .tdl-new-input {
  height: 50px;
  width: 350px;
  border: none;
  outline: none;
  color: #4B4237;
  padding: 0 15px;
  font-size: 20px;
  border-radius: 10px;
  background: #EDE7D9;
  box-shadow: 5px 5px 15px #a6a298, -5px -5px 15px #ffffff;
  transition: all 1s;
}
.to-do-list .tdl-content .tdl-input .input-container .tdl-new-input:hover {
  background: linear-gradient(145deg, #d5d0c3, #fef7e8);
  box-shadow: 5px 5px 15px #a6a298, -5px -5px 15px #ffffff;
}
.to-do-list .tdl-content .tdl-input .input-container .tdl-new-input:focus {
  background: #EDE7D9;
  box-shadow: inset 5px 5px 15px #a6a298, inset -5px -5px 15px #ffffff;
}
.to-do-list .tdl-content .tdl-input .button-container .tdl-input-add {
  cursor: pointer;
  height: 50px;
  border: none;
  color: #4B4237;
  padding: 0 15px;
  font-size: 20px;
  border-radius: 10px;
  background: #EDE7D9;
  box-shadow: 5px 5px 15px #a6a298, -5px -5px 15px #ffffff;
  transition: all 0.3s ease;
}
.to-do-list .tdl-content .tdl-input .button-container .tdl-input-add:hover {
  background: linear-gradient(145deg, #d5d0c3, #fef7e8);
  box-shadow: 5px 5px 15px #a6a298, -5px -5px 15px #ffffff;
}
.to-do-list .tdl-content .tdl-input .button-container .tdl-input-add:active {
  transition: all 0.1s ease;
  background: #EDE7D9;
  box-shadow: inset 5px 5px 15px #a6a298, inset -5px -5px 15px #ffffff;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ########### FOOTER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=app.css.map */
